body {
    background-image: url('https://i.ibb.co/gZ5NFyP/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    text-align: center;
    padding-bottom: 20px; 
}

button {
  background-color: #1da1f2;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 8px; 
  left: 50%;
  transform: translateX(-50%);
}
